@font-face { 
font-family: "ff-tisa-web-pro"; 
font-style: italic; 
font-weight: 400; 
src: url("https://use.typekit.com/af/a2dca8/000000000000000000017080/27/l?subset_id=2&fvd=i4&v=3") format("woff2"), 
url("https://use.typekit.com/af/a2dca8/000000000000000000017080/27/l?subset_id=2&fvd=i4&v=3") format("woff"), 
url("https://use.typekit.com/af/a2dca8/000000000000000000017080/27/l?subset_id=2&fvd=i4&v=3") format("opentype"); 
}

@font-face { 
font-family: "ff-tisa-web-pro"; 
font-style: normal; 
font-weight: 400; 
src: url("https://use.typekit.com/af/a1d110/000000000000000000017087/27/l?subset_id=2&fvd=n4&v=3") format("woff2"), 
url("https://use.typekit.com/af/a1d110/000000000000000000017087/27/l?subset_id=2&fvd=n4&v=3") format("woff"), 
url("https://use.typekit.com/af/a1d110/000000000000000000017087/27/l?subset_id=2&fvd=n4&v=3") format("opentype"); 
}

.wraper {
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 1000px;
	display: flex;
    flex-direction: column;
}
.border {
    border: 1px dashed black;
}
body {
	background-color: #FFF;
	margin: 0;
	font-family: "Georgia", serif;
	color: #333;
}
/*Логотип*/
.logo {
	height: 120px;
	margin-top: 20px;
}
.logo img {
	height: 120px;
	width: 120px;
}
.logo img:hover {
	opacity: 0.8;
}
.header {
	display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px; 
}
.row-container {
    display: flex;
    flex-direction: row;
   }
.column-container {
    display: flex;
    flex-direction: column;
    border-right: 2px dashed white;
}
.flex6 {
    flex:7; /*2 части от родителя*/
}
.flex1 {
    flex:1; /*1 часть от родителя*/
}
.flex5 {
    flex:5; /*1 часть от родителя*/
}
.flex4 {
    flex:4; /*1 часть от родителя*/
}
.flex3 {
    flex:3; /*1 часть от родителя*/
}
/*Меню*/
.menu {
	height: 120px;
	margin-top: 20px;
}
.menu ul {
	margin: 0px;
	margin-left: 200px;
	padding: 0;
	text-align: center;
}
.menu li {
	display: inline;
	list-style-type: none; /*убрать маркеры списка*/
	padding-left: 0px;
	margin-bottom:  18px;
}
.menu a {
	font-family: ff-tisa-web-pro, Georgia, sans-serif;
	font-style: italic;
	display: inline-block;
	padding: 0px;
	text-decoration: none;
	text-align: center;
	color: #34AC98;
	padding-top: 35px;
	padding-right: 15px;
	padding-left: 15px
}
.menu a:hover {
	color: #EC6635;
}
.menu img:hover {
	margin-bottom: -3px;
	transition:  0.2s;
}
.menu p:hover {
	margin-top: -3px;
	transition:  0.2s;
}
.menu p {
	margin: 0;
	padding: 0;
}

/*Slider*/
.slider ul {
	padding: 0;
	margin:0;
}
.slider li{
	height: 445px;
	background-repeat: no-repeat;
	background-size: cover; /*auto/contain*/; /*уместить картинку в контейнере*/
	list-style-type: none; /*убираем точки списка*/
	display: none;
}
.slider li:first-child {
	background-image: url(../img/Slider1.jpg);
}
.slider li:nth-child(2)  {
	background-image: url(../img/Slider2.jpg);
}
.slider li:nth-child(3)  {
	background-image: url(../img/Slider3.jpg);
}
.slider li:last-child  {
	background-image: url(../img/Slider4.jpg);
}
li.active-slider {
	display: block; /*открыли ранее скрытый li*/
}
.slider a {
	text-decoration: none;
	font-style: italic;
}
.slider h1 {
	font-family: ff-tisa-web-pro, Georgia, sans-serif;
	font-style: italic;
	font-size: 20px;
	color: black;
	background-color: white;
	position: absolute;
	padding: 24px;
	padding-bottom: 15px;
	padding-top: 10px;
	margin: 0;
	top: 445px;
}
.slider h2 {
	font-family: ff-tisa-web-pro, Georgia, sans-serif;
	font-style: italic;
	font-size: 17px;
	color: white;
	background-color: black;
	position: absolute;
	padding: 24px;
	padding-bottom: 12px;
	padding-top: 8px;
	margin: 0;
	top: 492px;
}
.slider a:hover {
	opacity: 0.8;
}

/*Slider-menu*/
.slider-menu {
	display: flex;
    flex-direction: row;
}

.slider-menu a {
	font-family: ff-tisa-web-pro, Georgia, sans-serif;
	font-style: italic;
	display: block;
	padding: 0px;
	text-decoration: none;
	text-align: center;
	background-color: #D9EFEC;
	color: #34AC98;
	padding-top: 8px;
	padding-bottom: 2px;
	border-left: 0.1px solid #34AC98;
	opacity: 0.8;
}
.slider-menu a:hover {
	color: #EC6635;
}

/*Email*/
.mail {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
}

.mail p {
	background-image: url(../img/menu5.jpg);
	background-repeat: no-repeat;
	background-position: 10px;
	margin:0;
	padding-left: 60px;
	padding-right: 24px;
	padding-bottom: 10px;
	padding-top: 7px;
	font-family: ff-tisa-web-pro, Georgia, sans-serif;
	font-style: italic;
	font-size: 12px;
}
.mail form {
	margin:0;
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 15px;
}
.mail input {
	cursor: pointer;
}

/*News*/
.news {
	margin: 0;
	margin-top: 30px;
	margin-bottom: 20px;  
}
.frame {
	padding-left: 10px;
}
.news img {
	height: 120px;
	padding: 9px;
	border: 1px solid #AAA;
	box-shadow: 1px 1px 10px #AAA;
}
.news img:hover {
	opacity: 0.6;
}
.news a {
	text-decoration: none;
	text-align: left;	
	color: #34AC98;
}
.news a:hover {
	color:#EC6635;
}
.news h1 {
	font-family: ff-tisa-web-pro, Georgia, sans-serif;
	font-style: italic;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}
.news p {
	font-family: ff-tisa-web-pro, Georgia, sans-serif;
	font-style: italic;
	font-size:  .875em;;
	padding-left: 10px;
	padding-right: 10px;
}


/*Footer */
.footer {
	padding-top: 20px;
	border-top: 2px solid #aaa;
}
.footer a {
	font-family: ff-tisa-web-pro, Georgia, sans-serif;
	font-style: normal;
	font-size:  0.8em;;
	text-decoration: none;
	text-align: left;	
	color: #34AC98;
	margin:0;

}
.footer a:hover {
	color:#EC6635;
}
.footer p {
	font-family: ff-tisa-web-pro, Georgia, sans-serif;
	font-style: normal;
	font-size:  0.8em;
	color: #AAA;
	margin:0;
	margin-bottom: 30px;
}
.footer img {
	height: 32px;
	opacity: 0.4;
}
.footer img:hover {
	opacity: 1;
}

/*Проверка*/
.example {
	height: auto;
	width: 220px;
	flex: 1;

}
.example_out {
	width: 400px;
	display: flex;
	flex-direction: row;
	border: 1px solid red;
	flex:1;
}
/*Медиазапросы*/
/*Normal*/
@media (min-width: 1170px) {
	body {
		background-color: lightblue;
	}
	.row-container-lg {
		display: flex;
		flex-direction: row;
	}
}
/*First Point*/
@media (min-width: 980px) and (max-width: 1169px) {
	body {
		background-color: lightgreen;
	}
	.row-container-lg {
		display: flex;
		flex-direction: row;
	}
}

/*Second Point Yellow*/
@media (min-width: 690px) and (max-width: 979px) {
	body {
		background-color: yellow;
	}
	.menu a {
	font-size: 0.8em;
	}
	.menu img {
		display: none;
	}
	.menu ul {
		margin-left: 6em;
		padding-top: 1em;
		text-align: left;
	}	
	.slider-menu {
		display: none;
	}
	.slider li {
		height: 350px;
		background-size: cover;
	}
	.slider h1 {
		top:429px;
		opacity: 0.8;
	}
	.slider h2 {
		top: 486px;
		opacity: 0.8;
	}
	.mail {
	flex-direction: column;
	}
	.flex4-md {
	flex: 4;
	}
	.col-container-md {
		display: flex;
		flex-direction: column;

	}
	.column-container-md {
		display: flex;
		flex-direction: column;
		
	}
}




/*Third Point Gray*/
@media (min-width: 360px) and (max-width: 689px) {
	
	body {
		background-color: red;
	}
	.logo {
		display: flex;
		justify-content: center;
	}
	.menu {
		display: flex;
		justify-content: center;
	}
	.menu ul {
		margin: 0;
		border-bottom: 2px solid #AAA;
		margin-bottom: 20px;
	}
	.menu a {
	font-size: 0.8em;
	}
	.menu img {
	display: none;
	}
	.slider-menu {
	display: none;
	}
	.slider li{
		height: 350px;
		background-size: cover;
	}
	.slider h1 {
		font-size: 15px;
		top:560px;
		opacity: 0.8;
	}
	.slider h2 {
		font-size: 13px;
		top: 598px;
		opacity: 0.8;
	}
	.mail {
	flex-direction: column;
	}
	.header {
	flex-direction: column;
	}
	.flex2-sm {
	flex: 2;
	}
	.example_out {
		flex-direction: column;
	}
}